.topSection {
    display: grid;
    grid-template-columns: auto 1fr;
}

.saveGraphemeButton {
    margin-top: 2.5rem;
    margin-left: 10px;
    padding: 1em 3em;
}

.formContainer {
    padding-bottom: 10rem;
}
